# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable jenkins': 'jenkins:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'jenkins'
      'submenu': [
        { 'label': 'Toggle', 'command': 'jenkins:toggle' },
        { 'label': 'List', 'command': 'jenkins:list' }
      ]
    ]
  }
]
